<div class="container">
    <h1 class="text-center heading-blue">Purchase Orders</h1>
    <div id="tabs">
        <ul class="">
            <li class="order-tabs" ng-repeat="tab in tabs"
                ng-class="{active:isActiveTab(tab.title)}"
                ng-click="onClickTab(tab)">{{tab.title}}</li>
        </ul>
        <div id="mainView">
            <div ng-include="currentTab"></div>
        </div>
    </div>
    <div ng-show="currentTab == 'Pending'">
        <h1 class="blue-color">Pending Orders</h1>
        <div class="row">
        
            <div class="wrapper" ng-click="showDetail(item, 'pending')" style="" ng-repeat="item in pendingList">
                <div class="span4">
                	<div class="card radius shadowDepth1">
                    	<div class="card__content card__padding">
                            <div class="card__meta">
                                <time>{{item.detail6}}</time>
                            </div>
    
                            <article class="card__article">
                                <h4>{{item.detail4}}</h4>
    
                                <p>{{item.label0}} : <span>{{item.detail0}}</span></p>
                                <p>{{item.label1}} : <span>{{item.detail1}}</span></p>
                                <p style="font-weight: 300; color:#183b6b;">{{item.detail5}}</p>
                            </article>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div ng-show="currentTab == 'Approved'">
        <h1 class="blue-color">Approved Orders</h1>
        <div class="row">
            
                <div class="wrapper" ng-click="showDetail(item, '')" style="" ng-repeat="item in approvedList">
                    <div class="span4">
                    <div class="card radius shadowDepth1">
                        <div class="card__content card__padding">
                            <article class="card__article">
                                <h4>{{item.detail4}}</h4>
    
                                <p>{{item.label0}} : <span>{{item.detail0}}</span></p>
                                <p>{{item.label1}} : <span>{{item.detail1}}</span></p>
                                <p style="font-weight: 300; color:#183b6b;">{{item.detail5}}</p>
                            </article>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>