<div class="login">
    <h1>Login</h1>
    <form method="post">
        <input type="text" ng-model="info.username" name="u" placeholder="Username" required="required" />
        <input type="password" ng-model="info.password" name="p" placeholder="Password" required="required" />
        <input type="text" ng-model="info.domain" name="u" placeholder="Domain" required="required" />
        <input type="text" ng-model="info.company" name="u" placeholder="Company" required="required" />
        <button type="submit" class="btn btn-primary btn-block btn-large" ng-click="authUser()">Let me in.</button>
    </form>
</div>